// $deep-blue: #242C6B;
$deep-blue:#1F6603;
$black: #000000;
$white: #ffffff;
$red-ish:  #DCC091;
$red-ish-light: #DCC091;
$light-blue: #DCC091;
$dark-blue: #DCC091;
$light-gray: #565656;
$purplish: #1F6603;


//new
$green: #1F6603;
$taupe: #DCC091

