.home-version-2-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 391px;
    height: 579px;
    object-fit: cover;
  }
  .icon-more-vertical-f {
    position: fixed;
    height: 2.26%;
    width: 1.46%;
    top: 6.79%;
    right: 5.21%;
    bottom: 90.95%;
    left: 93.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .logo-icon {
    position: absolute;
    top: 0;
    left: 1px;
    width: 113px;
    height: 65px;
    object-fit: cover;
  }
  .parliament-of-namibia {
    position: absolute;
    top: 66px;
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 114px;
    height: 15px;
  }
  .home-version-2-inner,
  .logo-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 114px;
    height: 81px;
  }
  .home-version-2-inner {
    top: 40px;
    left: 138px;
    text-align: center;
    font-size: var(--font-size-3xs);
    color: var(--color-white);
  }
  .group-child,
  .group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    box-shadow: 0 0 17px 3px rgba(0, 0, 0, 0.19);
    height: 40px;
  }
  .group-child {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    width: 172px;
  }
  .group-item {
    background-color: var(--color-darkgreen);
    width: 39px;
  }
  .national-assembly {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 126px;
    height: 17px;
  }
  .national-assembly-wrapper {
    position: absolute;
    top: 11px;
    left: 41px;
    width: 126px;
    height: 17px;
  }
  .group-icon,
  .rectangle-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    height: 40px;
  }
  .group-icon {
    height: 38.06%;
    width: 13.77%;
    top: 30.63%;
    right: 82.02%;
    bottom: 31.32%;
    left: 4.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-parent {
    position: absolute;
    top: 189px;
    left: 18px;
    width: 172px;
    height: 40px;
    cursor: pointer;
  }
  .group-inner,
  .rectangle-icon {
    position: absolute;
    top: -17px;
    left: -17px;
    border-radius: var(--br-31xl);
    width: 206px;
    height: 74px;
  }
  .rectangle-icon {
    width: 72px;
  }
  .national-council {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 116px;
    height: 17px;
  }
  .national-council-wrapper,
  .vector-icon {
    position: absolute;
    top: 11px;
    left: 44px;
    width: 116px;
    height: 17px;
  }
  .vector-icon {
    height: 45%;
    width: 12.56%;
    top: 25%;
    right: 82.21%;
    bottom: 30%;
    left: 5.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-parent {
    position: absolute;
    top: 189px;
    left: 201px;
    width: 172px;
    height: 40px;
    cursor: pointer;
  }
  .noun-national-assembly-buildin {
    position: absolute;
    top: 201px;
    left: 35px;
    width: 16px;
    height: 16px;
  }
  .group-child2,
  .the-namibian-voice-wrapper {
    position: absolute;
    top: 11px;
    left: 39px;
    width: 126px;
    height: 17px;
  }
  .group-child2 {
    height: 50%;
    width: 9.75%;
    top: 27.5%;
    right: 83.28%;
    bottom: 22.5%;
    left: 6.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-container {
    position: absolute;
    top: 246px;
    left: 18px;
    width: 172px;
    height: 40px;
    cursor: pointer;
  }
  .noun-national-assembly-buildin-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 20px;
    height: 18px;
    object-fit: cover;
  }
  .group-child3,
  .rectangle-button {
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: var(--br-31xl);
    box-shadow: 0 0 17px 3px rgba(0, 0, 0, 0.19);
    height: 40px;
  }
  .rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    width: 172px;
  }
  .group-child3 {
    background-color: var(--color-darkgreen);
    width: 38px;
  }
  .e-library {
    position: absolute;
    top: 2px;
    left: 34px;
    font-weight: 500;
    display: inline-block;
    width: 116px;
    height: 17px;
  }
  .noun-national-assembly-1416635-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 22px;
    overflow: hidden;
  }
  .e-library-parent,
  .ellipse-icon {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 150px;
    height: 22px;
  }
  .ellipse-icon {
    top: -18px;
    left: 141px;
    width: 48px;
    height: 52px;
  }
  .noun-national-assembly-buildin-parent,
  .rectangle-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 175px;
    height: 45px;
  }
  .noun-national-assembly-buildin-parent {
    top: 241px;
    left: 201px;
    cursor: pointer;
  }
  .group-child5 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-darkgreen);
    box-shadow: 0 0 17px 3px rgba(0, 0, 0, 0.19);
    width: 44px;
    height: 40px;
  }
  .group-child6,
  .news-wrapper {
    position: absolute;
    top: 11px;
    left: 50px;
    width: 116px;
    height: 17px;
  }
  .group-child6 {
    height: 49.82%;
    width: 13.98%;
    top: 27.5%;
    right: 80.55%;
    bottom: 22.68%;
    left: 5.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-child8,
  .group-div {
    position: absolute;
    height: 40px;
  }
  .group-div {
    top: 303px;
    left: 17px;
    width: 172px;
    cursor: pointer;
  }
  .group-child8 {
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-darkgreen);
    box-shadow: 0 0 17px 3px rgba(0, 0, 0, 0.19);
    width: 37px;
  }
  .events-parent {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 150px;
    height: 22px;
  }
  .home-version-2-inner1 {
    position: absolute;
    top: 303px;
    left: 200px;
    width: 172px;
    height: 40px;
    cursor: pointer;
  }
  .tune-in {
    position: absolute;
    top: 565px;
    left: 17px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black);
  }
  .group-child9 {
    position: absolute;
    top: 26px;
    left: 0;
    width: 347.07px;
    height: 218.05px;
    object-fit: cover;
  }
  .group-child10 {
    position: absolute;
    top: 27px;
    left: 1px;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      transparent 48.96%,
      rgba(0, 0, 0, 0.88) 96.35%
    );
    width: 346px;
    height: 218px;
  }
  .national-assembly1 {
    margin: 0;
  }
  .national-assembly-3-container {
    position: absolute;
    top: 175px;
    left: 19px;
    font-weight: 500;
    display: inline-block;
    width: 153px;
    height: 45px;
  }
  .group-child11,
  .rectangle-wrapper {
    position: absolute;
    top: 0;
    width: 74px;
    height: 27px;
  }
  .group-child11 {
    left: 0;
    border-radius: 66px;
    background-color: red;
  }
  .rectangle-wrapper {
    left: 123px;
  }
  .group-child12 {
    top: 0;
    left: 0;
    border-radius: 146px;
    background-color: rgba(53, 53, 53, 0.33);
    backdrop-filter: blur(30px);
    width: 197px;
    height: 27px;
  }
  .div,
  .group-child12,
  .icon-eye {
    position: absolute;
  }
  .icon-eye {
    top: 2px;
    left: 0;
    width: 19.95px;
    height: 11.87px;
  }
  .div {
    top: 0;
    left: 23.3px;
    font-weight: 500;
    display: inline-block;
    width: 20.16px;
  }
  .icon-eye-parent {
    position: absolute;
    top: 6px;
    left: 10.08px;
    width: 43.46px;
    height: 15px;
  }
  .group-child13,
  .line-div {
    position: absolute;
    top: 0.8px;
    left: 61.3px;
    border-right: 0.4px solid var(--color-white);
    box-sizing: border-box;
    width: 0.4px;
    height: 25.4px;
  }
  .group-child13 {
    left: 122.3px;
  }
  .min {
    position: absolute;
    top: 0;
    left: 16.13px;
    font-weight: 500;
    display: inline-block;
    width: 34.28px;
  }
  .icon-clock {
    position: absolute;
    top: 2px;
    left: 0;
    width: 12.1px;
    height: 12px;
  }
  .live-now,
  .min-parent {
    position: absolute;
    top: 6px;
    left: 67.55px;
    width: 50.41px;
    height: 15px;
  }
  .live-now {
    top: 4px;
    left: 133px;
    font-size: var(--font-size-xs);
    font-weight: 500;
    display: inline-block;
    width: 53px;
    height: 19px;
  }
  .rectangle-parent2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 197px;
    height: 27px;
  }
  .group-parent1 {
    top: 38px;
    left: 17px;
    width: 197px;
    height: 27px;
    font-size: var(--font-size-3xs);
  }
  .group-parent1,
  .see-all,
  .vide {
    position: absolute;
  }
  .see-all {
    top: 0;
    left: 290px;
    font-size: 14px;
    color: var(--color-black);
    cursor: pointer;
  }
  .vide {
    top: 38px;
    left: 6px;
    font-size: 127px;
    text-decoration: underline;
    color: inherit;
    display: none;
    width: 353px;
    height: 225px;
  }
  .group-child14 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-17xl);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 152px;
    height: 31px;
  }
  .add-to-favourites {
    position: absolute;
    top: 7px;
    left: 33px;
    font-size: var(--font-size-xs);
    font-family: var(--font-poppins);
    color: var(--color-darkgreen);
    text-align: left;
    display: inline-block;
    width: 113.74px;
    height: 16px;
  }
  .group-button,
  .icon-star {
    position: absolute;
    top: 8.26px;
    left: 12px;
    width: 14.72px;
    height: 14.43px;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 264px;
    left: 0;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    width: 152px;
    height: 31px;
  }
  .vector-container {
    position: relative;
    top: 585px;
    left: 17px;
    width: 347.07px;
    height: 295px;
    font-size: 16px;
    color: var(--color-white);
    padding-bottom: 70px;
  }
  .home-version-2-item {
    position: absolute;
    top: 768px;
    left: 4px;
    border-radius: 15px;
    background-color: var(--color-white);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
    width: 382px;
    height: 71px;
  }
  .home-version-2-child1,
  .home-version-2-child2 {
    position: absolute;
    top: 784px;
    height: 40px;
    cursor: pointer;
  }
  .home-version-2-child1 {
    left: 250px;
    background-color: var(--color-white);
    width: 98px;
  }
  .home-version-2-child2 {
    left: 38px;
    background-color: transparent;
    width: 83px;
  }
  .group-child15 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-darkgreen);
    border-radius: var(--br-17xl);
  }
  .group-child15,
  .home-version-2-inner2,
  .rectangle-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 108px;
    height: 44.81px;
  }
  .home-version-2-inner2 {
    top: 781px;
    left: 132px;
  }
  .home {
    position: absolute;
    top: 2px;
    left: 23px;
  }
  .home-parent,
  .icon-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
  }
  .home-parent {
    top: 793px;
    left: 157px;
    width: 59px;
    height: 20px;
    text-align: center;
    color: var(--color-white);
  }
  .account {
    position: absolute;
    top: 0;
    left: 17px;
  }
  .account-parent,
  .group-child16 {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.6px;
    height: 18px;
  }
  .account-parent {
    top: 794px;
    left: 49px;
    width: 68px;
    text-align: center;
    color: var(--color-dimgray);
  }
  .group-child17 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.93px;
    height: 18px;
  }
  .favourites {
    position: absolute;
    top: 0;
    left: 24px;
  }
  .group-parent2,
  .home-version-2-inner3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 86px;
    height: 18px;
  }
  .home-version-2-inner3 {
    top: 794px;
    left: 256px;
    color: var(--color-dimgray);
  }
  .home-version-2 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: auto;
    // overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-darkgoldenrod);
    font-family: var(--font-poppins);
  }
  