.logo{
    position: fixed;
    width: 55px;
    top: 10px;
    right: 10px;
    z-index: 10;
    border-radius: 10px;
    transition: all .3s ease-out;
    &:hover{
        cursor: pointer;
        scale: 1.05
    }
}