.pill{
    font-weight: 500;
     padding: 5px 12px;
     display: inline-block;
     font-size: 1.7rem;
     border-radius: 200px;
     @include respond(phone){
     font-size: 2rem;
     }
    &--open{
        background-color: $green;
    }
    &--closed{
        background-color: red;
        color: white;
    }
}