.thumbnail{
    &__container{
        background-color: $taupe;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
        border-radius: 25px;
        margin: 15px 0px;
    }

    &__date{
        // background-color: $taupe;
        padding: 14px 14px;
        align-items: center;
        &__day{
            color: $green;
            font-weight: 500;
            // margin-bottom: 5px;
            font-size: 35px;
        }
        &__month{
            font-weight: bold;
            margin-bottom: 5px; 
            font-size: 20px;
        }
        &__year{
            font-weight: medium;
            margin-bottom: 5px; 
        }

    }

    &__inner{
        background-color: white;
        border-radius: 25px;
        padding: 14px 14px;
        width: 100%;

        &__title{
            color: $green;
        }

        &__group{
            margin-bottom: 5px;
        }

    }
}